
Builds/VisualStudio2017/.vs/config/applicationhost.config
Builds/VisualStudio2017/.vs/CrestCompressor/v15/.suo
Builds/VisualStudio2017/.vs/CrestCompressor/v15/Browse.VC.db
Builds/VisualStudio2017/.vs/CrestCompressor/v15/ipch/AutoPCH/45898429c296c004/PLUGINEDITOR.ipch
Builds/VisualStudio2017/.vs/CrestCompressor/v15/ipch/AutoPCH/b95e780d2a4ce007/PLUGINEDITOR.ipch
Builds/VisualStudio2017/.vs/CrestCompressor/v15/ipch/AutoPCH/c0c5d21f15055abb/PLUGINPROCESSOR.ipch
Builds/VisualStudio2017/.vs/CrestCompressor/v15/ipch/AutoPCH/c1260637b7f9f164/PLUGINEDITOR.ipch
Builds/VisualStudio2017/.vs/CrestCompressor/v15/Solution.VC.db
Builds/VisualStudio2017/CrestCompressor.sln
Builds/VisualStudio2017/CrestCompressor_SharedCode.vcxproj
Builds/VisualStudio2017/CrestCompressor_SharedCode.vcxproj.filters
Builds/VisualStudio2017/CrestCompressor_StandalonePlugin.vcxproj
Builds/VisualStudio2017/CrestCompressor_StandalonePlugin.vcxproj.filters
Builds/VisualStudio2017/CrestCompressor_VST3.vcxproj
Builds/VisualStudio2017/CrestCompressor_VST3.vcxproj.filters
Builds/VisualStudio2017/CrestCompressor_VST3.vcxproj.user
Builds/VisualStudio2017/CrestCompressor_VST3ManifestHelper.vcxproj
Builds/VisualStudio2017/CrestCompressor_VST3ManifestHelper.vcxproj.filters
Builds/VisualStudio2017/resources.rc
Builds/VisualStudio2017/x64/Debug/Shared Code/CrestCom.29A9DB6A.tlog/CL.command.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/CrestCom.29A9DB6A.tlog/CL.read.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/CrestCom.29A9DB6A.tlog/CL.write.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/CrestCom.29A9DB6A.tlog/CrestCompressor_SharedCode.lastbuildstate
Builds/VisualStudio2017/x64/Debug/Shared Code/CrestCom.29A9DB6A.tlog/Lib-link.read.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/CrestCom.29A9DB6A.tlog/Lib-link.write.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/CrestCom.29A9DB6A.tlog/Lib.command.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/CrestCompressor.lib
Builds/VisualStudio2017/x64/Debug/Shared Code/CrestCompressor.pdb
Builds/VisualStudio2017/x64/Debug/Shared Code/CrestCompressor_SharedCode.log
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_basics.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_devices.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_formats.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_plugin_client_ARA.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_processors.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_processors_ara.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_processors_lv2_libs.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_utils.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_core.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_data_structures.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_events.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_graphics.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_gui_basics.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_gui_extra.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/PluginEditor.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/PluginProcessor.obj
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/CrestCom.18BAD92B.tlog/CL.command.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/CrestCom.18BAD92B.tlog/CL.read.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/CrestCom.18BAD92B.tlog/CL.write.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/CrestCom.18BAD92B.tlog/CrestCompressor_VST3ManifestHelper.lastbuildstate
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/CrestCom.18BAD92B.tlog/link.command.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/CrestCom.18BAD92B.tlog/link.read.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/CrestCom.18BAD92B.tlog/link.write.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/CrestCom.18BAD92B.tlog/rc.command.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/CrestCom.18BAD92B.tlog/rc.read.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/CrestCom.18BAD92B.tlog/rc.write.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/CrestCompressor_VST3ManifestHelper.log
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/juce_vst3_helper.exe
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/juce_vst3_helper.ilk
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/juce_vst3_helper.pdb
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/juce_VST3ManifestHelper.obj
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/resources.res
Builds/VisualStudio2017/x64/Debug/VST3/CrestCom.F1E245D4.tlog/CL.command.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/CrestCom.F1E245D4.tlog/CL.read.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/CrestCom.F1E245D4.tlog/CL.write.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/CrestCom.F1E245D4.tlog/CrestCompressor_VST3.lastbuildstate
Builds/VisualStudio2017/x64/Debug/VST3/CrestCom.F1E245D4.tlog/CrestCompressor_VST3.write.1u.tlog
Builds/VisualStudio2017/x64/Debug/VST3/CrestCom.F1E245D4.tlog/link.command.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/CrestCom.F1E245D4.tlog/link.read.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/CrestCom.F1E245D4.tlog/link.write.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/CrestCom.F1E245D4.tlog/rc.command.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/CrestCom.F1E245D4.tlog/rc.read.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/CrestCom.F1E245D4.tlog/rc.write.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/CrestCompressor.dll
Builds/VisualStudio2017/x64/Debug/VST3/CrestCompressor.exp
Builds/VisualStudio2017/x64/Debug/VST3/CrestCompressor.ilk
Builds/VisualStudio2017/x64/Debug/VST3/CrestCompressor.lib
Builds/VisualStudio2017/x64/Debug/VST3/CrestCompressor.pdb
Builds/VisualStudio2017/x64/Debug/VST3/CrestCompressor.vst3/Contents/Resources/moduleinfo.json
Builds/VisualStudio2017/x64/Debug/VST3/CrestCompressor.vst3/Contents/x86_64-win/CrestCompressor.vst3
Builds/VisualStudio2017/x64/Debug/VST3/CrestCompressor_VST3.log
Builds/VisualStudio2017/x64/Debug/VST3/include_juce_audio_plugin_client_VST3.obj
Builds/VisualStudio2017/x64/Debug/VST3/resources.res
Builds/VisualStudio2017/x64/Release/Shared Code/CrestCom.29A9DB6A.tlog/CL.command.1.tlog
Builds/VisualStudio2017/x64/Release/Shared Code/CrestCom.29A9DB6A.tlog/CL.read.1.tlog
Builds/VisualStudio2017/x64/Release/Shared Code/CrestCom.29A9DB6A.tlog/CL.write.1.tlog
Builds/VisualStudio2017/x64/Release/Shared Code/CrestCom.29A9DB6A.tlog/CrestCompressor_SharedCode.lastbuildstate
Builds/VisualStudio2017/x64/Release/Shared Code/CrestCom.29A9DB6A.tlog/Lib-link.read.1.tlog
Builds/VisualStudio2017/x64/Release/Shared Code/CrestCom.29A9DB6A.tlog/Lib-link.write.1.tlog
Builds/VisualStudio2017/x64/Release/Shared Code/CrestCom.29A9DB6A.tlog/Lib.command.1.tlog
Builds/VisualStudio2017/x64/Release/Shared Code/CrestCompressor.lib
Builds/VisualStudio2017/x64/Release/Shared Code/CrestCompressor.pdb
Builds/VisualStudio2017/x64/Release/Shared Code/CrestCompressor_SharedCode.log
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_audio_basics.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_audio_devices.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_audio_formats.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_audio_plugin_client_ARA.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_audio_processors.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_audio_processors_ara.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_audio_processors_lv2_libs.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_audio_utils.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_core.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_data_structures.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_events.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_graphics.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_gui_basics.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_gui_extra.obj
Builds/VisualStudio2017/x64/Release/Shared Code/PluginEditor.obj
Builds/VisualStudio2017/x64/Release/Shared Code/PluginProcessor.obj
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/CrestCom.18BAD92B.tlog/CL.command.1.tlog
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/CrestCom.18BAD92B.tlog/CL.read.1.tlog
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/CrestCom.18BAD92B.tlog/CL.write.1.tlog
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/CrestCom.18BAD92B.tlog/CrestCompressor_VST3ManifestHelper.lastbuildstate
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/CrestCom.18BAD92B.tlog/link.command.1.tlog
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/CrestCom.18BAD92B.tlog/link.read.1.tlog
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/CrestCom.18BAD92B.tlog/link.write.1.tlog
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/CrestCom.18BAD92B.tlog/rc.command.1.tlog
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/CrestCom.18BAD92B.tlog/rc.read.1.tlog
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/CrestCom.18BAD92B.tlog/rc.write.1.tlog
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/CrestCompressor_VST3ManifestHelper.log
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/juce_vst3_helper.exe
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/juce_vst3_helper.pdb
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/juce_VST3ManifestHelper.obj
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/resources.res
Builds/VisualStudio2017/x64/Release/VST3/CrestCom.F1E245D4.tlog/CL.command.1.tlog
Builds/VisualStudio2017/x64/Release/VST3/CrestCom.F1E245D4.tlog/CL.read.1.tlog
Builds/VisualStudio2017/x64/Release/VST3/CrestCom.F1E245D4.tlog/CL.write.1.tlog
Builds/VisualStudio2017/x64/Release/VST3/CrestCom.F1E245D4.tlog/CrestCompressor_VST3.lastbuildstate
Builds/VisualStudio2017/x64/Release/VST3/CrestCom.F1E245D4.tlog/CrestCompressor_VST3.write.1u.tlog
Builds/VisualStudio2017/x64/Release/VST3/CrestCom.F1E245D4.tlog/link.command.1.tlog
Builds/VisualStudio2017/x64/Release/VST3/CrestCom.F1E245D4.tlog/link.read.1.tlog
Builds/VisualStudio2017/x64/Release/VST3/CrestCom.F1E245D4.tlog/link.write.1.tlog
Builds/VisualStudio2017/x64/Release/VST3/CrestCom.F1E245D4.tlog/rc.command.1.tlog
Builds/VisualStudio2017/x64/Release/VST3/CrestCom.F1E245D4.tlog/rc.read.1.tlog
Builds/VisualStudio2017/x64/Release/VST3/CrestCom.F1E245D4.tlog/rc.write.1.tlog
Builds/VisualStudio2017/x64/Release/VST3/CrestCompressor.dll
Builds/VisualStudio2017/x64/Release/VST3/CrestCompressor.exp
Builds/VisualStudio2017/x64/Release/VST3/CrestCompressor.lib
Builds/VisualStudio2017/x64/Release/VST3/CrestCompressor.pdb
Builds/VisualStudio2017/x64/Release/VST3/CrestCompressor.vst3/Contents/Resources/moduleinfo.json
Builds/VisualStudio2017/x64/Release/VST3/CrestCompressor.vst3/Contents/x86_64-win/CrestCompressor.vst3
Builds/VisualStudio2017/x64/Release/VST3/CrestCompressor_VST3.log
Builds/VisualStudio2017/x64/Release/VST3/include_juce_audio_plugin_client_VST3.obj
Builds/VisualStudio2017/x64/Release/VST3/resources.res
CrestCompressor.filtergraph
JuceLibraryCode/include_juce_audio_basics.cpp
JuceLibraryCode/include_juce_audio_basics.mm
JuceLibraryCode/include_juce_audio_devices.cpp
JuceLibraryCode/include_juce_audio_devices.mm
JuceLibraryCode/include_juce_audio_formats.cpp
JuceLibraryCode/include_juce_audio_formats.mm
JuceLibraryCode/include_juce_audio_plugin_client_AAX.cpp
JuceLibraryCode/include_juce_audio_plugin_client_AAX.mm
JuceLibraryCode/include_juce_audio_plugin_client_AAX_utils.cpp
JuceLibraryCode/include_juce_audio_plugin_client_ARA.cpp
JuceLibraryCode/include_juce_audio_plugin_client_AU_1.mm
JuceLibraryCode/include_juce_audio_plugin_client_AU_2.mm
JuceLibraryCode/include_juce_audio_plugin_client_AUv3.mm
JuceLibraryCode/include_juce_audio_plugin_client_LV2.cpp
JuceLibraryCode/include_juce_audio_plugin_client_LV2.mm
JuceLibraryCode/include_juce_audio_plugin_client_Standalone.cpp
JuceLibraryCode/include_juce_audio_plugin_client_Unity.cpp
JuceLibraryCode/include_juce_audio_plugin_client_VST2.cpp
JuceLibraryCode/include_juce_audio_plugin_client_VST2.mm
JuceLibraryCode/include_juce_audio_plugin_client_VST3.cpp
JuceLibraryCode/include_juce_audio_plugin_client_VST3.mm
JuceLibraryCode/include_juce_audio_processors.cpp
JuceLibraryCode/include_juce_audio_processors.mm
JuceLibraryCode/include_juce_audio_processors_ara.cpp
JuceLibraryCode/include_juce_audio_processors_lv2_libs.cpp
JuceLibraryCode/include_juce_audio_utils.cpp
JuceLibraryCode/include_juce_audio_utils.mm
JuceLibraryCode/include_juce_core.cpp
JuceLibraryCode/include_juce_core.mm
JuceLibraryCode/include_juce_data_structures.cpp
JuceLibraryCode/include_juce_data_structures.mm
JuceLibraryCode/include_juce_events.cpp
JuceLibraryCode/include_juce_events.mm
JuceLibraryCode/include_juce_graphics.cpp
JuceLibraryCode/include_juce_graphics.mm
JuceLibraryCode/include_juce_gui_basics.cpp
JuceLibraryCode/include_juce_gui_basics.mm
JuceLibraryCode/include_juce_gui_extra.cpp
JuceLibraryCode/include_juce_gui_extra.mm
JuceLibraryCode/JuceHeader.h
JuceLibraryCode/JucePluginDefines.h
JuceLibraryCode/ReadMe.txt
Builds/VisualStudio2017/.vs/CrestCompressor/v15/ipch/AutoPCH/4af6a6d907596f5b/PLUGINPROCESSOR.ipch
Builds/VisualStudio2017/x64/Release/VST3/CrestCom.F1E245D4.tlog/link.delete.1.tlog
